pandas==2.2.3
numpy==1.26.4
spacy==3.7.2

# franch SpaCy
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.1/fr_core_news_sm-3.7.1-py3-none-any.whl

gensim==4.3.2
scikit-learn==1.4.2
matplotlib==3.8.3

# notebook
notebook==7.1.2
tqdm==4.66.2

